@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap');

.card {
  /* background: #0092ff; */
  height: 280px;
  display: flex;
  box-shadow: 1px 1px 10px grey;
}

.card__info {
  padding-left: 15px;
  padding-right: 35px;
}

.card__date {
  color: #827e7e;
}

.card__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.card__overview {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}
