@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap');

.card {
  width: 450px;
  height: 280px;
  display: flex;
  box-shadow: 1px 1px 10px rgb(196, 195, 195);
  font-family: 'Inter';
}

.card__text-info {
  display: flex;
  flex-direction: column;
  padding: 12px 8px 8px 12px;
}
